<div class="bg">
    <div class="card">

        <span class="card__success"><i class="ion-checkmark"></i></span>

        <h1 class="card__msg">Payment Failed</h1>
        <h2 class="card__submsg">Try Again</h2>

        <div class="card__body">
        </div>
    </div>
    <br>
    <div class="container text-center">
        <div class="submit-buton">
          <button type="submit" class="btn shop-button" (click)="redirectToPayment()">
               <strong> PAY </strong>
          </button>
        </div>
      </div>
</div>