<ul class='header-menus'>
    <li>
        <a routerLink="" routerLinkActive="active" style="text-decoration: none;" *ngIf="isAdmin"> ADMIN</a>
    </li>
    <li>
        <a routerLink="/home" routerLinkActive="active" style="text-decoration: none;"> Home</a>
    </li>
    <li>
        <a routerLink="/reservation" routerLinkActive="active" style="text-decoration: none;"> Make a reservation</a>
    </li>
    <li>
        <a routerLink="/menu" style="text-decoration: none;">Order</a>
    </li>
    <!-- <li>Order Pickup/Delivery</li> -->
    <li>
        <a routerLink="/feedback" style="text-decoration: none;">FeedBack</a>
    </li>
    <li>
        <a routerLink="/login" style="text-decoration: none;">Login</a>
    </li>
</ul>
