<div class="bg">
    <div class="card">

        <span class="card__success"><i class="ion-checkmark"></i></span>

        <h1 class="card__msg">Payment Complete</h1>
        <h2 class="card__submsg">Thank you for your transfer</h2>

        <div class="card__body">
            <!-- <h1 class="card__price"><span>£</span>20<span>.00</span></h1> -->

            <!-- <p class="card__method">Payment method</p>
            <div class="card__payment">
                <img src="https://seeklogo.com/images/V/VISA-logo-F3440F512B-seeklogo.com.png"
                    class="card__credit-card">
                </div>
            </div> -->

        </div>
    </div>
    <br>
    <div class="container text-center">
        <div class="submit-buton">
          <button type="submit" class="btn mb-3 shop-buton" (click)="redirectToMenu()">
                <strong>ORDER MORE</strong>
          </button>
        </div>
        </div>
</div>